<p style="color: green"><%= notice %></p>

<h1>Catalogs</h1>

<div id="catalogs">
  <% @catalogs.each do |catalog| %>
    <%= render catalog %>
    <p>
      <%= link_to "Show this catalog", catalog %>
    </p>
  <% end %>
</div>

<%= link_to "New catalog", new_catalog_path %>
